@model List<provarumo.Models.Entities.PedidoEntity>

@{
    ViewData["Title"] = "Copa";
}

<h1>Copa</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col"> Número do Pedido </th>
            <th scope="col"> Número da Mesa </th>
            <th scope="col"> Bebida </th>
            <th scope="col"> Quantidade </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
            <tr>
                <th scope="row">@pedido.NumeroPedido</th>
                <td>@pedido.NumeroMesa</td>
                <td>@pedido.Bebida</td>
                <td>@pedido.Quantidade</td>
            </tr>
        }
    </tbody>
</table>